/* You can add global styles to this file, and also import other style files */
app-hydrated,
app-unhydrated,
app-deferred {
  border: 1px solid green;
  display: block;
  padding: 8px;
  border-radius: 8px;
  margin: 8px 0;
}
nav {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}
